#logo {
  width:554px;
  height:400px;
  transform: scale(2.5);
  margin-left: 390px;
  margin-top: 300px;
}

#pcm-c {
    width: 554px;
    border-top: 25px solid black;
    padding-bottom: 25px;
    height: 136px;
    height: 400px;

    position: relative;
    background: black;
    outline: 0;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#pcm-c * {
    position: absolute;
    overflow: hidden;
}
#pcm-p,
#pcm-cc {
    left: 45px;
    width: 464px;
    height: 600px;
    z-index: 99;
    overflow: hidden;
}
#pcm-p .pcm-d {
    width: 2px;
    height: 2px;
    margin-left: 3px;
    margin-top: 3px;
    background: #f8b090;
    z-index: 100;
    border-radius: 50%;
}
#pcm-p .pcm-e {
    width: 8px;
    height: 8px;
    z-index: 101;
}
#pcm-sc-1 {
    left: 18px;
    top: 16px;
    width: 8px;
    height: 56px;
    position: absolute;
    overflow: hidden;
}
#pcm-sc-2 {
    left: 18px;
    top: 80px;
    width: 8px;
    height: 56px;
    position: absolute;
    overflow: hidden;
}
#pcm-le {
    position: absolute;
    left: 515px;
    top: 74px;
    height: 64px;
    width: 32px;
}
#pcm-le div {
    position: relative;
}
#pcm-sc-1-l {
    left: -2px;
    top: 0;
    width: 48px;
    height: 8px;
}
#pcm-sc-2-l {
    left: -2px;
    top: 64px;
    width: 48px;
    height: 8px;
}
#pcm-so {
    left: 7px;
    top: 116px;
    width: 12px;
    height: 12px;
    border: 8px solid black;
    cursor: pointer;
}
#pcm-li {
    position: absolute;
    left: 523px;
    top: 0;
    height: 80px;
    width: 16px;
}
#pcm-li .pcm-lif {
    position: relative;
    width: 16px;
    height: 12px;
    margin-bottom: 3px;
}
#pcm-p.blk .pcm-e {
    visibility: hidden;
}
#pcm-c .pcm-ac {
    width: 16px;
    height: 16px;
    margin-left: -4px;
    margin-top: -4px;
    z-index: 110;
}
#pcm-c .pcm-n {
    z-index: 111;
}
#pcm-c #pcm-stck {
    z-index: 109;
}
#pcm-c #pcm-gbug {
    width: 32px;
}
#pcm-c #pcm-bpcm {
    width: 32px;
    height: 32px;
    margin-left: -20px;
    margin-top: -20px;
}
#pcm-f,
#pcm-le div {
    width: 32px;
    height: 16px;
    z-index: 105;
}
#pcm-f {
    margin-left: -8px;
    margin-top: -4px;
}
#pcm-do {
    width: 19px;
    height: 2px;
    /*left: 279px;*/
    /*top: 46px;*/
    left: 186px;
    top: 52px;
    overflow: hidden;
    position: absolute;
    background: #ffaaa5;
}
#pcm-re {
    width: 48px;
    height: 8px;
    z-index: 120;
    left: 264px;
    top: 80px;
}
#pcm-go {
    width: 80px;
    height: 8px;
    z-index: 120;
    left: 248px;
    top: 80px;
}
